:root {
    --font-size: 20px;

    font-size: var(--font-size);
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
    grid-template-areas: "sidebar header" "sidebar content";

    height: 100vh;
}



/* SIDEBAR */
.sidebar {
    background-color: rgb(71, 156, 252);
    color: whitesmoke;
    padding: 20px;
    
    grid-area: sidebar;
    display: grid;
    grid-template-rows: repeat(3, max-content);
    gap: 50px;
}

.sidebar li {
    list-style-type: none;
}



/* HEADER */
.header {
    background-color: white;
    color: black;
    padding: 26px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    position: relative;

    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: cornsilk ;
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    background-color: lightgreen;
    height: fit-content;
}

.search>button {
    background: none;
    border: none;
}

.search img {
    height: 18px;
    aspect-ratio: 1/1;
}

.search>input {
    border: none;
    border-radius: 8px;
    background-color: rgb(222, 229, 236);
}



/* CONTENT */
.content {
    background-color: rgb(222, 229, 236);
    padding: 15px;
    overflow: hidden;

    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    grid-template-areas: "project announcement" "project trending";
    gap: 30px;
}

.project {
    grid-area: project;
    overflow-y: scroll;
    padding: 10px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(max-content, 1fr));
}

.project-item {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 18px;
    font-size: 0.8em;

    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
}

.title {
    font-weight: 900;
    font-size: 1.2em;
}

.announcement {
    grid-area: announcement;
    border: 2px solid black;
}

.trending {
    grid-area: trending;
    border: 2px solid black;
}